body {
    background-color: #eef9bf;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 64px;
    font-weight: 700;
    width: 640px;
    margin-top: 40px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #75b79e;
}

.game-container {
    width: 1240px;
    display: flex;
    display: flex;
    justify-content: center;
    margin: 0px 16px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.board4 {
    width: 380px;
}

.board6 {
    width: 550px;
}

.board8 {
    width: 730px;
}

.board10 {
    width: 900px;
}

.board12 {
    width: 1080px;
}

.card-container {
    width: 144px;
    height: 179px;
    margin: 0px 16px;
    perspective: 600px;
    margin-bottom: 48px;
}

.flip-card {
    transform: rotateY(180deg);
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.6s;
    background-color: #a7e9af;
    border: 1px solid #99cea8;
    border-radius: 5px;
    transform-style: preserve-3d;
}

.card img {
    width: 120px;
}

.card-back, .card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}